@media screen and (max-width: 576px) {
  nav {
    padding: 0 20px;
  }
  nav ul {
    display: none;
  }
  .hero {
    flex-direction: column;
    margin-top: 50px;
    height: auto;
    gap: 30px;
  }

  .flowerImg {
    order: 1;
    margin-bottom: 20px;
  }
  .flowerDesc {
    order: 2;
    padding-left: 20px;
  }
  .flowerDesc h1 {
    font-size: 24px;
  }
  .para {
    font-size: 14px;
  }
  /* flower box */
  .products {
    margin-bottom: 0px;
  }
  .flowerBox {
    padding: 0px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .flowerP:nth-child(7),
  .flowerP:nth-child(8) {
    display: none;
  }
  .title h1 {
    font-size: 24px;
  }
  /* lover section */
  .lovers {
    height: auto;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .store {
    flex: 100%;
  }
  #storeImg {
    width: 95%;
  }
  .features {
    margin-top: 10px;
    width: 95%;
  }
  .features h1 {
    font-size: 24px;
  }
  #badge {
    display: none;
  }
  /* deal grid */
  .deal_grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }
  .grid-1,
  .grid-2,
  .grid-3 {
    width: 361px;
    height: 177px;
    margin: 0 auto;
  }
  .deals_para {
    width: 80%;
  }
  .field h1 {
    font-size: 20px;
  }
  footer {
    width: 100%;
  }
  .input {
    width: 350px;
    display: flex;
  }
  input[type="submit"] {
    margin-left: 0px;
  }
  /* nav */
  .footer_nav {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
  }
  .logo_sec {
    width: 50%;
  }
}
/* medium device */
@media (min-width: 576px) and (max-width: 768px) {
  .hero {
    padding: 0px 10px;
  }
  .flowerDesc h1 {
    font-size: 40px;
  }
  .flowerBox {
    padding: 0px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  /* lover section */
  .lovers {
    height: auto;
    flex-direction: column;
  }
  .store {
    flex: 100%;
  }
  #storeImg {
    width: 95%;
  }
  .features {
    margin-top: 10px;
    width: 95%;
  }
  .deal_grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }
  .grid-1,
  .grid-2,
  .grid-3 {
    width: 400px;
    height: 177px;
    margin: 0 auto;
  }
  .features h1 {
    font-size: 36px;
  }
  #badge {
    display: none;
  }
  .input {
    width: 600px;
    display: flex;
  }
  .footer_nav {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 20px;
  }
}
/* large device */

@media (min-width: 768px) and (max-width: 1024px) {
  .flowerDesc h1 {
    font-size: 40px;
  }
  .hero {
    padding: 0px 10px;
  }
  .flowerBox {
    padding: 0px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  .features h1 {
    font-size: 42px;
  }
  #badge {
    top: -20%;
    right: -10%;
  }
  .footer_nav {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 20px;
  }
}
