@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* root */
:root {
  --orange: #e95a08;
  --semiblack: #111111;
  --black_50: rgba(0, 0, 0, 0.5);
  --link: #8987a1;
}
/* primary */
.mango {
  color: var(--orange);
}
.para {
  color: var(--link);
  font-family: "Inter";
}
/* body */
body {
  max-width: 1440px;
  margin: 0 auto;
}
/* header */
header {
  max-width: 1140px;
  margin: 0 auto;
}
#logo {
  cursor: pointer;
}
#logo img {
  width: 138px;
}
.nav_links ul li {
  display: inline;
}
.nav_links ul li a {
  font-family: "Inter";
  font-size: 1rem;
  padding: 10px 17px;
  color: var(--link);
}
.nav_links ul li a:hover {
  color: var(--semiblack);
  border-top: 1px solid var(--link);
  border-bottom: 1px solid var(--link);
  transition: 0.2s ease;
}
.active {
  color: var(--semiblack) !important;
  font-weight: 700;
}
.cart button a {
  padding: 10px 18px;
  font-weight: 600;
}
.cart button a:hover {
  color: white;
  background: var(--semiblack);
  padding: 10px 18px;
  transition: 0.2s ease;
}
/* hero section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.hero {
  height: 400px;
}
.flowerDesc {
  flex: 50%;
}
.flowerDesc h1 {
  font-family: "Noto Serif";
  font-weight: 700;
  margin-bottom: 15px;
}

.flowerImg {
  flex: 50%;
}
.flowerImg img {
  width: 576px;
}
/* products */
.products {
  margin-top: 70px;
  margin-bottom: 150px;
}
.title h1 {
  font-family: "Noto Serif";
}
.pro_title,
.price,
.addto {
  font-family: "Inter";
  margin-top: 5px;
}
.addto {
  width: 100%;
  background: var(--orange);
  color: white;
  padding: 10px 14px;
  display: block;
  cursor: pointer;
}
.addto:hover {
  background: var(--semiblack);
  transition: 0.3s ease;
}
.flowerBox {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: center;
  column-gap: 20px;
}
/* plants lovers section */
.lovers {
  height: 580px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
.features h1 {
  font-family: "Noto Serif";
  font-weight: 600;
}
.store {
  flex: 540px;
  position: relative;
}
#storeImg {
  width: 90%;
  margin: 0 auto;
}
.features {
  flex: 540px;
}
.features h1 {
  color: var(--semiblack);
}
.features ul li {
  list-style-type: square;
  margin-left: 20px;
  margin-top: 30px;
}
#badge {
  position: absolute;
  width: 50%;
  top: -20%;
  right: -15%;
}
